.btnEnviar {
    color: white;
    background-color: gray;
    border-radius: 5px;
    &:hover{
        color: white;
        font-weight: 500;
        background-color: transparent;
        transition: .5s ease;
        border: 2px solid white;
    }
}